
<table class="table table-striped mt-3">
    <thead>
      <tr>
        <ng-container *ngFor="let listColumn of listColumns">
          <th >{{listColumn.label}} </th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let listRow of listRows; let index=index">
        <td>{{listRow.firstname}} {{listRow.lastname}}</td>
        <td>{{listRow.age}}</td>
        <td>{{listRow.balance}}</td>
        <td>
         
          <button type="button" (click)="openView(listRow)" class="btn btn-secondary">View</button>
          <button type="button" (click)="functionEdit(listRow)" class="btn btn-warning">Edit</button>
          <button type="button" (click)="deleteAcc(listRow)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  