<table class="table table-striped">
    <thead>
      <tr>
        <ng-container *ngFor="let listColumn of listColumns">
          <th >{{listColumn.label}} </th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let listRow of listRows; let index=index">
        <td>{{listRow.firstname}} {{listRow.lastname}}</td>
        <td>{{listRow.age}}</td>
        <td>{{listRow.balance}}</td>
        <td>
          <!-- <a href="#" [routerLink]="['/home/', listRow._id, 'view']" class="btn btn-secondary">View</a> -->
          <!-- <a href="#" [routerLink]="['/home/', listRow._id, 'edit']" class="btn btn-warning">Edit</a> -->
          <button (click)="FunctionView(listRow)" class="btn btn-secondary">View</button>
          <button (click)="FunctionEdit(listRow._id)" class="btn btn-warning">Edit</button>
          <button type="button" (click)="deleteAcc(listRow)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  