<div class="container">
  <h1>Angular Final Test </h1>
  <br>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-sm-12 mt-3">
      <button (click)="openDialog('')" type="button" class="btn btn-success">Add new</button>
    </div>
    <div class="col-xl-6 col-lg-6 col-sm-12 mt-3">
      <div class="search float-lg-end float-sm-start">
        <span>Search</span>
        <input type="text" [(ngModel)]="searchStr" (ngModelChange)="search()">
        
      </div>
    </div>
  </div>
  
  <app-my-datatable 
  [listColumns]="txtLable" 
  [listRows]="account | slice : pagination.page * pagination.size : (pagination.page + 1)*pagination.size"
  (deleteAccEvent)="deleteAccount($event)"
  (editAccEvent)="editAccount($event)"
  (viewAccEvent)="viewAccount($event)"

  >
  </app-my-datatable>

  <mat-paginator 
  [pageSizeOptions]="[25]"
  [length]="pagination.total"
  (page)="changePage($event)"
  aria-label="select page"></mat-paginator>
</div>