<div class="container">
  <h1>Angular Final Test </h1>
  <br>
  <div class="row">
    <div class="col-6">
      <!-- <a href="#" routerLink="/home/create/" class="btn btn-success">Thêm mới</a> -->
      <button (click)="openAddPopup('')" type="button" class="btn btn-success">Add new</button>
    </div>
    <div class="col-6">
      <div class="search">
        <span>Search</span>
        <input type="text" [(ngModel)]="searchStr" (ngModelChange)="search()">
        
      </div>
    </div>
  </div>
  
  <app-my-datatable 
  [listColumns]="txtLable" 
  [listRows]="account | slice : pagination.page * pagination.size : (pagination.page + 1)*pagination.size"
  (deleteAccEvent)="deleteAccount($event)"
  >
  </app-my-datatable>

  <mat-paginator 
  [pageSizeOptions]="[5,15,25]"
  [length]="pagination.total"
  (page)="changePage($event)"
  aria-label="select page"></mat-paginator>
</div>