<div class="view-viewPage">
    <ul>
        <ng-container *ngFor="let d of data">
            <li> Id:{{d._id}} </li>
            <li>Account Number: {{d.account_number}} </li>
            <li>Name: {{d.firstname}} {{d.lastname}}</li>
            <li>Balance: {{d.balance}}</li>
            <li>Age: {{d.age}}</li>
            <li>Gender: {{d.gender}}</li>
            <li>Address: {{d.address}}</li>
            <li>Employer: {{d.employer}}</li>
            <li>Email: {{d.email}}</li>
            <li>City: {{d.city}}</li>
            <li>State: {{d.state}}</li>
        </ng-container>
        
    </ul>
</div>
