<div class="view-viewPage">
    <ul>
        <ng-container >
            <li> Id:{{viewData._id}} </li>
            <li>Account Number: {{viewData.account_number}} </li>
            <li>Name: {{viewData.firstname}} {{viewData.lastname}}</li>
            <li>Balance: {{viewData.balance}}</li>
            <li>Age: {{viewData.age}}</li>
            <li>Gender: {{male}}</li>
            <li>Address: {{viewData.address}}</li>
            <li>Employer: {{viewData.employer}}</li>
            <li>Email: {{viewData.email}}</li>
            <li>City: {{viewData.city}}</li>
            <li>State: {{viewData.state}}</li>
        </ng-container>
        
    </ul>
</div>
